# some workspace related ignores
.settings/*
*.sublime-project
*.sublime-workspace

# this is webspace specific
.htaccess
.htpasswd
Robots.txt
google*.html
rss.xml

# workaround to keep user/ and files/ in repo but ignore contents
documentation
cache/locale/*
user/*
themes/*
files/*
images/blog/*
images/foren/*
images/mods/*
images/port/*
images/tmp/*
!.gitignore

index*.*
!index.php

# no compiled files
*.sass-cache*
theme/beuster-se-2013/scripts/*_compiled.js
theme/beuster-se-2013/scripts/beusterse.js
theme/beuster-se-2013/styles/*.css
theme/beuster-se-2013/styles/*.css.map
