# some workspace related ignores
.settings/*
*.sublime-project
*.sublime-workspace
*.psd

# this is webspace specific
.htaccess
.htpasswd
Robots.txt
google*.html
rss.xml

# workaround to keep user/ and files/ in repo but ignore contents
documentation
cache/locale/*
user/*
themes/*
files/*
images/*
images/blog/*
images/foren/*
images/mods/*
images/port/*
images/tmp/*
!.gitignore

index*.*
!index.php

# no compiled files
*.sass-cache*
theme/beuster-se-2013/scripts/*_compiled.js
theme/beuster-se-2013/scripts/beusterse.js
theme/beuster-se-2013/styles/*.css
theme/beuster-se-2013/styles/*.css.map
theme/beuster-se-2016/assets/js/*_compiled.js
theme/beuster-se-2016/assets/js/beusterse.js
theme/beuster-se-2016/assets/css/*.css
theme/beuster-se-2016/assets/css/*.css.map
system/assets/css/*.css
system/assets/css/*.css.map
system/assets/css/admin/*.css
system/assets/css/admin/*.css.map
system/assets/js/admin/admin.js