@import 'lib/_color';
body.article {
  div.info {
    border: 1px solid;
    margin-top: 2em;

    ul.messages {
      background: $white;
      color: $cold_black;
      list-style: none;
      margin: 0;
      padding: 0.25em 1em;

      li {
        padding-left: 1em;
        text-indent: -0.7em;

        &:before {
          content: "\2022";
          font-weight: bold;
          padding-right: 0.5em;
        }
      }
    }

    .title {
      color: $white;
      font-weight: bold;
      padding: 0.25em 1em;
    }

    &.success {
      border-color: $green;

      ul.messages {
        li:before {
          color: $green;
        }
      }

      .title {
        background: $green;
      }
    }
  }
}
body.article article {
  section.article {
    @include section_style_info;

    a {
      @include default_link($blue, $green);
    }

    blockquote {
      background: $grey;
      border-left: 2px solid $green;
      margin-bottom: 1em;
      padding: 1em;

      span {
        color: $darker_grey;
        font-size: 0.85em;
      }
    }

    .code {
      margin-bottom: 1em;

      .line {
        @include code_font;
        background: $grey;
        color: $cold_black;
        display: block;
        font-size: 0.95em;
        line-height: 1.5;
        padding: 0 1em 0 0;
        transition: 0.15s all;

        &:hover {
          background: $dark_grey;
          cursor: default;
        }

        .no {
          background: $dark_grey;
          display: inline-block;
          margin-right: 0.6em;
          opacity: 0.7;
          padding-right: 0.4em;
          text-align: right;
          width: 2em;
        }
      }
    }

    del {
      text-decoration: line-through;
    }

    h1 {
      font-size: 1.75em;
    }

    h2 {
      font-size: 1.25em;
      margin-top: 1em;
    }

    h3 {
      font-size: 1em;
      margin-top: 1.25em;
    }

    .info {
      margin-bottom: 1em;
    }

    ins {
      text-decoration: underline;
    }

    ol,
    ul {
      margin-bottom: 1em;
      margin-left: 2em;

      li > ol,
      li > ul {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 1em;

      &:empty {
        display: none;
      }

      &:first-of-type {
        margin-top: 1.25em;
      }

      &.image {
        text-align: center;

        img {
          max-width: 95%;
        }
      }
    }

    .video {
      max-width: 656px;
      margin: 0 auto 1.5em auto;

      .wrapper {
        clear: both;
        float: none;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        width: 100%;

        iframe {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }

        .embeddedVideo.link {
          display: none;
        }
      }
    }
  }
}
