@import 'lib/_color';

body.article {
  div.error,
  div.success {
    margin-bottom: 2em;

    .title {
      color: $white;
      font-weight: bold;
      padding: 0.25em 1em;
    }
  }

  div.success {
    border: 1px solid $green;

    p {
      background: $white;
      color: $cold_black;
      padding: 0.25em 1em;
    }

    .title {
      background: $green;
    }
  }

  div.error {
    border: 1px solid $red;

    ul.messages {
      background: $white;
      color: $cold_black;
      list-style: none;
      margin: 0;
      padding: 0.25em 1em;

      li {
        padding-left: 1em;
        text-indent: -0.7em;

        &:before {
          color: $red;
          content: "\2022";
          font-weight: bold;
          padding-right: 0.5em;
        }
      }
    }

    .title {
      background: $red;
    }
  }
}

form.userform {
  margin-top: 1em;

  fieldset {
    border: 0;

    legend {
      color: $green;
      font-size: 1.5em;
      margin-bottom: 0.5em;

      .cancelReply {
        color: $cold_black;
        font-size: 0.66em;
        margin-left: 1em;
      }
    }

    legend + p {
      margin-top: 0;
    }

    label {
      display: block;
      font-size: 1.05em;
      margin-bottom: 0.5em;

      input,
      select,
      textarea {
        background: $white;
        font-size: 1em;
        vertical-align: baseline;
      }

      input,
      select,
      textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      textarea {
        @include default_font;
        display: inline-block;
        min-height: 5em;
        resize: vertical;
        vertical-align: top;
      }

      span.textarea {
        padding-top: 0.25em;
      }

      &.required span:after {
        content: "*";
        color: $red;
        display: inline-block;
        margin-left: 0.25em;
      }

      &.has_error {
        input,
        select,
        textarea {
          border: 1px solid $red;
        }
      }

      &.checkbox {
        display: flex;

        input[type=checkbox] {
          height: 1.05em;
          margin-right: 1em;
        }

        span {
          width: auto;
        }
      }
    }

    input[type=reset],
    input[type=submit] {
      border: 0;
      cursor: pointer;
      font-size: 1.1em;
      margin-bottom: 1em;
      margin-top: 1em;
      padding: 0.5em 1em;
    }

    input[type=submit] {
      background: $green;
      color: $cold_grey;

      &:hover {
        background: $blue;
      }

      &[disabled=disabled] {
        color: $dark_grey;
        cursor: default;

        &:hover {
          background: $green;
        }
      }
    }

    input[type=reset] {
      background: $dark_grey;
      color: $darker_grey;
      margin-left: 1em;

      &:hover {
        color: $cold_black;
      }
    }

    p {
      margin-bottom: 1em;
    }

    .antSp {
      display: none;
    }
  }

  &.hasError {
    .hasError:required {
      border-color: $red;
    }
  }

  ul.comment_list {
    background: $light_grey;
    border: 0.125em solid $dark_grey;
    list-style-type: none;
    margin-left: 0 !important;
    padding: 1em;

    li {
      &:not(:first-child) {
        border-left: 0.25em solid $dark_grey;
        margin-left: 1em;
        padding-left: 1em;
      }

      &.own {
        span.author {
          color: $green;
        }
      }

      span.author {
        color: $darker_grey;
        margin-right: 0.5em;

        &:after {
          content: "-";
          display: inline-block;
          margin-left: 0.5em;
        }
      }
    }
  }
}