@import 'lib/_color';

body.article {
  section.gallery {
    @include section_style_info;
    @include section_title;

    ul {
      @include display_flex;
      flex-wrap: wrap;
      justify-content: left;

      li {
        display: block;
        list-style: none;
        margin: 0 0.875em 0.875em 0;
        transition: opacity 0.25s;

        &:last-of-type {
          margin-right: 0;
        }

        img {
          cursor: pointer;
          display: block;
          height: 6.75em;
          width: 12em;
        }
      }
    }
  }

  &.highlighted {
    section.gallery li:not(.activated) {
      opacity: 0.75;
    }
  }
}

.lightbox {
  background: $dark_grey;
  background: rgba($dark_grey, 0.7);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;

  .wrapper {
    background: $light_grey;
    box-shadow: 0 0 10px $darker_grey;
    height: 90%;
    margin: 2.5% auto;
    width: 90%;

    .image {
      margin: 0 auto;

      img {
        display: block;
      }
    }

    .text {
      line-height: 1.6;
      max-height: 3.2em;
      margin: 1em 0;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 3em 0 1em;
      position: relative;

      .close {
        @include icon_image;
        background-position: -6 * $icon_width 0;
        color: transparent;
        cursor: pointer;
        display: inline-block;
        margin: 0 $icon_width / 2;
        overflow: hidden;
        position: absolute;
        right: 1em;
        top: 0;

        &:hover {
          background-position: -6 * $icon_width -1 * $icon_width;
        }
      }
    }
  }
}