@import 'lib/_color';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $grey;
}

header {
  background: $green url(../img/border.png) repeat-x bottom center;
  padding-bottom: 30px;
  padding-top: 2em;

  .wrapper {
    margin: 0 auto;

    .row {
      @include display_flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.clearfix:after,
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
