@import 'lib/_color';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $grey;
}

header {
  background: $green;
  padding-top: 2em;

  .wrapper {
    margin: 0 auto;
  }
}

.clearfix:after,
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
