@import 'lib/_color';

@media(max-width: 15.99em){
  section.article {
    .thumb {
      img {
        height: 100%;
      }
    }
  }
}

@media(max-width: 35em) {
  article .pager,
  .content .pager {
    .filler,
    .page:not(.current) {
      display: none;
    }
  }
}

@media(max-width: 37.49em) {
  form.userform {
    label {
      input,
      select,
      textarea {
        border: 0;
        display: block;
        padding: 0.5em 0;
        width: 100%;
      }

      input[type=checkbox] {
        width: auto;
      }

      span {
        display: block;
      }

      textarea {
        width: 100%;
      }
    }

    input[type=submit] {
      width: 100%;
    }
  }
}

@media(min-width: 37.5em) {
  body > .wrapper {
    margin: 0 2em;
  }

  form.userform {
    label {
      input,
      select,
      textarea {
        border: 1px solid $grey;
        display: inline-block;
        padding: 0.5em;
        width: 15em;
      }

      input[type=checkbox] {
        width: auto;
      }

      span {
        display: inline-block;
        width: 6em;
      }

      textarea {
        width: 22em;
      }

      &.long {
        input,
        select,
        span,
        textarea {
          width: 100%;
        }
      }
    }

    &.articleform {
      span {
        width: 9em;
      }
    }
  }

  aside {
    .archive.list {
      .module_inside > ul > li {
        width: 50%;
      }
    }
  }
}

@media(max-width: 44.99em) {
  nav {
    .expander {
      display: block !important;
    }

    menu {
      display: none;

      &.expanded {
        display: block;
      }
    }
  }
  section.article {
    .thumb {
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

@media(min-width: 45em) {
  nav {
    li {
      float: left;
    }

    .search {
      float: right;
    }
  }

  body > .wrapper {
    clear: both;
    margin: 0 auto;
    width: 45em;
  }

  header > .wrapper {
    width: 45em;
  }

  body.category {
    section.article {
      @include display_flex;

      border-left: $article_border_width solid $light_grey;

      &:hover {
        border-left: $article_border_width solid $blue;
      }

      .thumb {
        width: 16em;

        a {
          display: block;
          height: 100%;
          width: 16em;

          img {
            box-shadow: $dark_grey 0 0 1.5em;
            display: inline-block;
            margin-top: 0;
            width: 100%;
          }
        }
      }
    }
  }

  section.recommended {
    section.article {
      .content {
        width: 23.5em;
      }
    }
  }

  form.userform {
    label {
      textarea {
        width: 32.5em;
      }
    }
  }

  aside {
    .archive.list {
      .module_inside > ul > li {
        width: 25%;
      }
    }
  }
}

@media(min-width: 45.5em) {
  body.article {
    .amazon.w720 {
      display: block;
    }
  }
}

@media(min-width: 60em) {
  body > .wrapper,
  header > .wrapper {
    width: 60em;
  }

  section.recommended {
    section.article {
      .content {
        width: 38.5em;
      }
    }
  }

  form.userform {
    label {
      textarea {
        width: 46.5em;
      }
    }
  }
}

@media(min-width: 67.5em) {
  body > .wrapper,
  header > .wrapper {
    width: 67.5em;
  }

  section.recommended {
    section.article {
      .content {
        width: 46em;
      }
    }
  }

  form.userform {
    label {
      textarea {
        width: 54em;
      }
    }
  }
}
