header {
  .search {
    -webkit-align-self: center;
    align-self: center;
    padding: 1em 2em;

    input {
      @include clear_button;
      color: white;
      font-size: 1em;
      vertical-align: middle;

      &[type=text] {
        border-bottom: 1px solid transparent;
        transition: 0.25s width;
        width: 0;

        &:focus,
        &:hover {
          border-color: white;
        }

        &:focus {
          width: 10.5em;
        }
      }

      &[type=submit] {
        @include icon_image;

        &:hover {
          background-position: 0 -1 * $icon_width;
        }
      }
    }

    ::-webkit-input-placeholder, { /* WebKit, Blink, Edge */
      color: $white;
    }
    :-moz-placeholder, { /* Mozilla Firefox 4 to 18 */
      color: $white;
      opacity:  1;
    }
    ::-moz-placeholder, { /* Mozilla Firefox 19+ */
      color: $white;
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $white;
    }

    &:not(.inactive) {
      input {
        &[type=text] {
          width: 10.5em;
        }
      }
    }
  }
}

section.search_info {
  @include section_style_info;
}