@import 'lib/_color';
@import 'lib/_utils';
@import 'typography';

@import 'admin';
@import 'article';
@import 'category';
@import 'comments';
@import 'form';
@import 'gallery';
@import 'layout';
@import 'pager';
@import 'responsive';
@import 'search';

nav {
  color: white;
  margin-left: 1em;
  margin-top: 1px;

  .expander {
    cursor: pointer;
    display: none;
    font-size: 1.1em;
    height: 1.2em;
    padding: 0.6em 1em;

    &:after {
      content: "\25be";
      display: inline-block;
      margin-left: 0.25em;
      transition: transform 0.25s;
    }

    &:hover {
      background: $grey;
      color: $cold_black;
    }

    &.expanded {
      font-weight: bold;

      &:after {
        transform: rotate(60deg);
      }
    }
  }

  li {
    background: transparent;
    display: block;
    transition: all 0.25s;

    &:hover {
      background: $grey;
      color: $cold_black;
    }

    a {
      @include clear_link;
      display: block;
      font-size: 1.1em;
      height: 1.2em;
      padding: 0.6em 1em;
    }
  }
}

div.wrapper footer {
  margin-top: 1.5em;
  text-align: center;

  div {
    margin-bottom: 1.5em;
  }

  .socials {
    @include display_flex;
    justify-content: center;

    a {
      @include icon_image;
      color: transparent;
      display: inline-block;
      margin: 0 $icon_width / 2;
      overflow: hidden;

      &.gh { background-position: -2 * $icon_width 0;}
      &.ig { background-position: -4 * $icon_width 0;}
      &.lk { background-position: -5 * $icon_width 0;}
      &.tw { background-position: -1 * $icon_width 0;}
      &.yt { background-position: -3 * $icon_width 0;}

      &:hover {
        &.gh { background-position: -2 * $icon_width -1 * $icon_width;}
        &.ig { background-position: -4 * $icon_width -1 * $icon_width;}
        &.lk { background-position: -5 * $icon_width -1 * $icon_width;}
        &.tw { background-position: -1 * $icon_width -1 * $icon_width;}
        &.yt { background-position: -3 * $icon_width -1 * $icon_width;}
      }
    }
  }

  .links {
    a {
      @include clear_link;
      margin: 0 0.5em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

body.article {
  section.amazon {
    @include section_style_info;

    background: none;
    padding: 0;
    text-align: center;
  }

  section.attachments {
    @include section_style_info;
    @include section_title;

    ul {
      list-style: none;

      li {

        &:not(:first-child) {
          margin-top: 1em;
        }

        a {
          @include default_link($green, $blue);
          font-size: 1.1em;
        }

        span {
          color: $darker_grey;

          &:not(:first-of-type) {
            padding-left: 1em;
          }

          &:not(:last-of-type) {
            border-right: 1px solid $darker_grey;
            padding-right: 1em;
          }
        }
      }
    }
  }
}
