
$icon_width : 1.5em;

@mixin icon_image {
  background: url(../img/sprite.png) 0 0 no-repeat;
  background-size: auto 2 * $icon_width;
  cursor: pointer;
  height: $icon_width;
  width: $icon_width;
}

section.privacy_settings {
  h1 {
    margin-bottom: 0.5em;
  }

  span.toggle {
    cursor: pointer;
    display: flex;
    margin-bottom: 1em;

    & > .icon {
      @include icon_image;
      color: transparent;
      display: inline-block;
      margin: 0 $icon_width / 2;
      overflow: hidden;
    }

    &.not_accepted > .icon {
      background-position: 0 * $icon_width 0;
    }

    &.not_accepted:hover > .icon {
      background-position: 0 * $icon_width -1 * $icon_width;
    }

    &.accepted > .icon {
      background-position: 0 * $icon_width -1 * $icon_width;
    }

    &.accepted:hover > .icon {
      background-position: 0 * $icon_width 0;
    }
  }
}