@import 'lib/_color';

svg.icon {
  cursor: pointer;
  display: inline-block;
  fill: $darker_grey;
  height: $icon_width;
  width: $icon_width;

  &:hover {
    fill: $green;
  }
}

form.userform {
  @include editor_buttons;

  &.articleform {
    margin-top: 0;

    .section_header {
      color: $green;
      font-size: 1.1em;
      margin-top: 1.5em;
      margin-bottom: 0;

      &.section_opener {
        cursor: pointer;
      }
    }

    .section_expander {
      display: none;
    }

    ul.current_attachments li {
      list-style-type: circle;
      margin: 0.5em 0;

      svg.icon {
        margin: 0 0 0 $icon_width / 2;
        vertical-align: middle;
      }
    }
  }

  .bbDiv {
    background: $grey;
    border: 1px solid $dark_grey;
    height: 1.25 * $editor_button_width;
  }

  .bbSpan {
    display: block;
    float: left;
    padding:  0.125 * $editor_button_width 0;

    &:not(:first-child) {
      padding-left: 0.25 * $editor_button_width;
    }

    &:not(:last-child) {
      border-right: 1px solid $dark_grey;
      padding-right: 0.25 * $editor_button_width;
    }
  }

  .bbImg {
    @include editor_sprite;
    width: $editor_button_width;
    height: $editor_button_width;
    padding: 0 !important;
    margin: 0;
    box-shadow: 0 0 0;
    border: 0;
    float: left;

    &:hover {
      cursor: pointer;
    }

    &.mar_left {
      margin-left: 0.25 * $editor_button_width;
    }
  }

  .newsNewHelp {
    display: none;
  }

  select {
    border: 1px solid #e9e9e9;
    display: inline-block;
    padding: 0.5em;
    width: 15em;
  }

  input[type=button] {
    border: 0;
    cursor: pointer;
    font-size: 1.1em;
    margin-right: 1em;
    padding: 0.5em 1em;

    background: $grey;
    color: $darker_grey;

    &:hover {
      color: $cold_black;
    }
  }

  img.adThumb {
    max-height: 108px;
    max-width: 192px;
  }
}

input[name=article_filter],
input[name=comment_filter] {
  border: 1px solid $grey;
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

h2.entry_list_header {
  font-weight: bold;
  margin-top: 2em;
}

p.empty {
  font-style: italic;
  text-align-last: center;
}

table.commentlist,
table.entry_list {
  border-spacing: 0;
  margin-top: 1em;
  width: 100%;

  tr {
    display: table-row;

    &.empty {
      td {
        font-style: italic;
        text-align-last: center;
      }
    }

    &.hidden {
      display: none;
    }

    th {
      border-bottom: 1px solid $dark_grey;
    }
  }

  th.author {
    width: 7em;
  }

  th.bigNumber {
    width: 5em;
  }

  th.button {
    white-space: nowrap;
    width: 1em;
  }

  th.date {
    width: 9em;
  }

  th.mediumNumber {
    width: 4em;
  }

  th.radio {
    width: 1.5em;
  }

  th.smallNumber {
    width: 3em;
  }

  td, th {
    padding-top: 0.5em;
    text-align: left;
    vertical-align: top;
  }

  body.article & {
    td.actions {
      div {
        @include display_flex;
        justify-content: center;
      }
    }
  }
}

table.entry_list.snippets {
  td.title {
    cursor: pointer;
  }
}

table.entry_list.comments {
  tr {
    td {
      padding-bottom: 0.5em;
      padding-top: 0.5em;

      &.comment_info {
        div.article,
        div.author,
        div.content,
        div.replies {
          @include display_flex;

          & > span:first-child {
            margin-right: 1em;
            width: 4em;
          }

          &.author {
            .mail {
              color: $darker_grey;
            }
          }
        }

        div.replies {
          color: $darker_grey;
          font-style: italic;
          margin-top: 0.5em;
        }
      }

      &.date {
        color: $darker_grey;
      }
    }

    th.short_date {
      width: 6em;
    }

    td:first-child,
    th:first-child {
      padding-left: 0.5em;
    }

    td:last-child,
    th:last-child {
      padding-right: 0.5em;
    }
  }

  tr.comment,
  tr.reply {
    &:hover {
      td {
        background: $light_grey;
      }
    }
  }

  tr.comment:not(:first-child) {
    td {
      border-top: 1px solid $dark_grey;
    }
  }

  tr.comment + tr.reply {
    td {
      border-top: 0;
    }
  }

  tr.reply {
    td {
      background: $grey;
      border-top: 1px solid $grey;

      &:first-child {
        border-top: 0;
      }
    }
  }
}

table.commentlist {
  div.wrap.close {
    height: 1.5em;
    overflow: hidden;
  }

  td {
    vertical-align: top;
  }
}

table.categoryTable {
  thead {
    tr {
      th {
        padding-right: 1em;
        text-align: left;
        vertical-align: bottom;
      }
    }
  }

  tbody {
    tr {
      td {
        &.radio {
          text-align: center;
          padding-right: 1em;
        }

        &.select,
        &.text {
          padding-right: 1em;
        }
      }
    }
  }
}

ul.pagesList {
  list-style: none;
}

div.preview {
  border: 1px solid $dark_grey;
  box-shadow: inset 0 0 3px $dark_grey;
  padding: 1em 1em 0 1em;

  i.info {
    color: $darker_grey;
    cursor: pointer;
  }
}

.article.preview {
  h2 {
    margin-top: 0 !important;
  }

  .controls {
    input[type=button] {
      border: 0;
      cursor: pointer;
      font-size: 1.1em;
      margin-right: 1em;
      padding: 0.5em 1em;

      background: $grey;
      color: $darker_grey;

      &:hover {
        color: $cold_black;
      }
    }
  }

  .content {
    border-top: 2px solid $grey;
    margin-top: 1em;
  }
}

.multiFieldset {
  fieldset + fieldset {
    margin-top: 2em;
  }

  input[type=submit] {
    margin-top: 1em;
  }
}
