@import 'lib/_color';

body.article article {
  section.article {
    @include section_style_info;

    a {
      @include default_link($blue, $green);
    }

    h1 {
      font-size: 1.75em;
    }

    h2 {
      font-size: 1.25em;
      margin-top: 1em;
    }

    .info {
      margin-bottom: 1em;
    }

    ol,
    ul {
      margin-bottom: 1em;
      margin-left: 2em;

      li > ol,
      li > ul {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 1em;
    }
  }
}