@import 'lib/_color';

body.article article section.article {
  ul.image_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em 1em;
    margin-top: 1em;

    li {
      align-self: center;
      border: 1px solid $darker_grey;
      overflow: hidden;
      padding: 0.25em;

      &:hover:not(.detail) {
        box-shadow: 0 0 0.5em $dark_grey;
        cursor: pointer;
      }

      &.hasError {
        border-color: $red;
      }

      &.detail {
        background: $grey;
        display: grid;
        grid-column-start: span 5;
        grid-template-columns: 3fr 2fr;
        padding: 0;

        &>div {
          padding: 1em;
        }

        &>.image {
          align-self: center;
          text-align: center;
        }

        &>.meta {
          background: $light_grey;
          position: relative;

          .controls {
            position: absolute;
            right: 1em;
            top: 1em;
          }

          form {
            margin: 0;

            fieldset {
              label {
                display: block;
                font-weight: bold;
                margin-bottom: 0.5em;

                input,
                span {
                  display: block;
                  font-weight: normal;
                  width: 100%;
                }

                input {
                  font-size: 1em;
                  padding: 0.5em;
                }
              }
            }
          }
        }
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }
}