@import 'lib/_color';
@import 'lib/_utils';
@import 'typography';

@import 'admin';
@import 'article';
@import 'form';
@import 'image';
@import 'layout';
@import 'responsive';

body > svg#definitions {
  display: none;
}

div.wrapper footer {
  margin-top: 1.5em;
  text-align: center;

  div {
    margin-bottom: 1.5em;
  }

  .links {
    a {
      @include clear_link;
      margin: 0 0.5em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
