/*** RESETS ***/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, code, del, dfn,
em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;}
body {
    line-height: 1.29;}
table {
    border-collapse: separate;
    border-spacing: 0;}
caption, th, td {
    text-align: left;
    font-weight: normal;}
table, td, th {
    vertical-align: middle;}
blockquote:before, blockquote:after,
q:before, q:after {
    content:"";}
blockquote, q {
    quotes:"" "";}
a img {
    border: none;}

/*** GENERAL ***/

body {
	background: url('../images/background.png') fixed #efefef;
	font-family: Calibri, Tahoma, Arial, sans-Serif;
}
br.clear {
	display: block;
	height: 1px;
	margin-top: -1px;
	clear: both;
}
a {
	text-decoration: none;
	color: #1686c6;
}
a:hover {
	color: #d02c33;
}
.alert {
	color: red;
}
@font-face {
    font-family: "Source Code Pro";
    src: url('../settings/SourceCodePro-Regular.otf') format('opentype');}

/*** LAYOUT ***/

header#beMainHeader {
	width: 100%;
	background: url('../images/background.png') #efefef;
}
div#beMainContainer{
	margin: 0 auto;
	font-size: 17px;
	line-height: 175%;
}
div#beMainPortfolio {
}
aside#beMainAside {
	margin: 60px auto 0 auto;
	background: #ebebeb;
	border: 1px solid #aaaaaa;
	box-shadow: 0 0 6px #aaaaaa;
}
/*aside#beMainAside {
	margin: 20px auto 0 auto;
}*/
footer#beMainFooter {
	width: 100%;
	margin-top: 15px;
	padding: 4px 0 2px 0;
	background: #1686c6;
	color: #ffffff;
	text-align: center;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	box-shadow: 0 0 5px #888888;
}

/*** HEADER ***/

header#beMainHeader h1.pageTitle,
header#beMainHeader span.pageTitle {
	display: block;
	margin: 0 0 0 35px;
	padding: 10px 0 0 0;
	font-weight: normal;
	color: #083046;
    text-shadow: 0 0 6px #aaaaaa;
    font-family: "Source Code Pro";
}
header#beMainHeader h1.pageTitle span,
header#beMainHeader span.pageTitle span {
	margin: 0 0 0 20px;
    text-shadow: none;
	color: #083046;
    text-shadow: 0 0 5px #cccccc;
    font-family: Calibri, Tahoma, Arial, sans-Serif;
}

/*** NAVIGATION ***/

menu#beMainNav {
	text-align: center;
	margin: 10px 0 0 0 !important;
	padding: 0 !important;
	background: #1686c6;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 0 5px #888888;
}
menu#beMainNav li {
	padding: 3px 0;
	list-style-type: none;
}
menu#beMainNav li:hover {
	background: #083046;
}
menu#beMainNav li a {
	text-decoration: none;
	color: #ffffff;
    text-shadow: 0 0 4px #666666;
}
menu.beCategoryNav {
	margin: 15px 0 0 0;
}
menu.beCategoryNav li {
	padding: 0 10px;
	list-style-type: none;
}
menu.beCategoryNav li.noborder {
	border: 0 !important;
}
menu.beCategoryNav li a {
	font-size: 20px;
	color: #083046;
}
menu.beCategoryNav li a:hover {
	color: #d02c33;
}

/*** FOOTER ***/

footer#beMainFooter a {
	text-decoration: none;
	color: #ffffff;
}
footer#beMainFooter a:hover {
	text-decoration: underline;
}
div.adSense.footer {
	height: 90px;
	margin: 20px 0 0 0;
	overflow: hidden;
	text-align: center;
}

/*** ASIDE ***/
.beMainAsideEntry {
	display: block;
	margin: 10px;
	padding: 10px;
}
.beMainAsideEntry .entryInfo {
	font-style: italic;
	color: #444444;
}

.beMainAsideEntry.socialInteraction {
	display: block;
	margin: 0;
	padding: 0;
}
.beMainAsideEntry ul.socialInteraction {
	display: block;
	text-align: center;
	background: #106393;
}
.beMainAsideEntry ul.socialInteraction li {
	display: inline-block;
}
.beMainAsideEntry ul.socialInteraction li a {
	display: block;
	background: url('../images/sprite.png') no-repeat;
}

.beMainAsideEntry.searchBox form {
	display: block;
	margin: 0 auto;
}
.beMainAsideEntry.searchBox form input {
	display: block;
	float: left;
	margin: 0;
	padding: 5px 10px;
	font-size: 15px;
}
.beMainAsideEntry.searchBox form input[type=text] {
	border: 1px solid #bbbbbb;
}
.beMainAsideEntry.searchBox form input[type=submit] {
	width: 30px;
	padding: 5px 0;
	border: 1px solid #bbbbbb;
	border-left: 0;
	background: url('../images/sprite.png') no-repeat;
	background-position: -440px -75px;
}
.beMainAsideEntry.searchBox form input[type=submit]:hover {
	background-position: -440px -105px;
	cursor: pointer;
}
.beMainAsideEntry.searchBox form input[type="submit"]::-moz-focus-inner {
	border:0;
}

.beMainAsideEntry.randomArticle .randomTitle {
	font-size: 17px;
}
.beMainAsideEntry.randomArticle .randomText {
	font-size: 15px;
}

.beMainAsideEntry.top ul,
.beMainAsideEntry.archive ul  {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}
.beMainAsideEntry.top ul li,
.beMainAsideEntry.archive ul li {
	list-style-type: none;
}
.beMainAsideEntry.top ul li:before,
.beMainAsideEntry.archive ul li:before {
	content: " - \020 ";
}

.beMainAsideEntry.articleInfo {
	font-size: 15px;
}
.beMainAsideEntry.articleInfo .entryInfo {
	font-size: 17px;
}
.beMainAsideEntry.articleInfo input {
	width: 100%;
	height: 25px;
}

.beMainAsideEntry.adSense {
	overflow: hidden;
	text-align: center;
}

/*** CONTENT ***/

.beContentEntry {
	margin: 10px 0 10px 0;
	padding: 20px;
    position: relative;
	background: #f4f4f4;
	border: 1px solid #aaaaaa;
	box-shadow: 0 0 6px #aaaaaa;
}
.beContentEntry .beContentEntryHeader {
	margin-top: 0 !important;
	border-bottom: 1px solid #1686c6;
	color: #1d3747;
	line-height: 100%;
}
.beContentEntry .beContentEntryHeader a {
	color: #1d3747;
}
.beContentEntry h1.beContentEntryHeader {
	margin-bottom: 15px;
	line-height: 150%;
}
.beContentEntryThumb {
	width: 150px;
	height: 100px;
	float: left;
	margin: 5px 20px 10px 0;
}
.beContentEntry .beContentEntryFooter {
	display: block;
	margin-bottom: 5px;
	border-bottom: 1px solid #cfcfcf;
	opacity: 0.5;
	transition: opacity 0.3s;
}
.beContentEntry:hover .beContentEntryFooter {
	opacity: 1;
}
h1.beCategoryHeader {
	padding: 0 10px;
	line-height: 110%;
	color: #083047;
}
.beContentEntryTime {
	margin: 0 3px 0 0;
	padding: 0 5px 0 0;
	border-right: 1px solid #b0b0b0;
	font-style: italic;
	color: #444444;
}
.beContentEntryImage {
	margin: 0 auto 15px auto;
	text-align: center;
}
.beContentEntry h2.downcat {
	padding: 0 0 5px 0;
	border-bottom: 1px solid #1686c6;
}
.beContentEntry h3.downloads a {
	color: #106393;
}
.beContentEntry h3.downloads a:hover {
	color: #1d3747;
}
.beContentEntry .projState {
	display: block;
	text-align: center;
}
.beContentEntry img.about {
	float: left;
	margin: 5px 20px 10px 0;
	max-width: 200px;
	max-height: 300px;
}

/*** CONNECTED ***/

.beContentConnected {
	margin: 20px 0 0 0;
}
.beContentConnectedHeader {
	display: block;
	margin: 0 0 5px 0;
	font-size: 20px;
	font-weight: bold;
	color: #083047;
}
.beContentConnectedEntry {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #afafaf;
	font-size: 18px;
	background: #e4e4e4;
}
.beContentConnectedEntryThumb {
	width: 150px;
	height: 100px;
	line-height: 100px;
	float: left;
	margin: 0 20px 10px 0;
	text-align: center;
}
.beContentConnectedEntryThumb img {
	max-width: 150px;
	max-height: 100px;
	vertical-align: middle;
}

/*** COMMENTS ***/

div#beContentEntryComments {
	margin: 20px 0 0 0;
}
div#beContentEntryComments h2.beContentEntryCommentsHeader {
	padding: 0 10px;
	border-bottom: 2px solid #55a3cf;
	color: #083046;
}
div#beContentEntryComments div.beCommentEntry {
	position: relative;
	padding: 20px;
	border: 1px solid #afafaf;
	border-top: 0;
	background: #ebebeb;
}
div#beContentEntryComments div.beCommentEntry span.beCommentEntryAvatar {
	float: left;
	margin: 0 20px 0 0;
	border: 1px solid #aaaaaa;
}
div#beContentEntryComments div.beCommentEntry span.beCommentEntryHeader {
	padding: 0 20px 0 0;
	border-bottom: 1px solid #d0d0d0;
	color: #1d3747;
	font-size: 0.95em;
}
div#beContentEntryComments div.beCommentEntry .reply {
	padding-left: 25px;
	line-height: 100%;
	background: url('../images/commentReply.png') top left no-repeat;
	background-position: 0 0;
	color: #afafaf;
	cursor: pointer;
}
div#beContentEntryComments div.beCommentEntry .reply:hover {
	color: #666666;
	background-position: 0 -20px;
}
div#beContentEntryComments div.beCommentEntry .replies {
	margin-top: 20px;
	border-top: 1px solid #55A3CF;
}
.beCommentNew {
	padding: 20px;
	border: 1px solid #b0b0b0;
	border-top: 0;
	font-size: 1.1em;
	color: #222222;
	background: #ebebeb;
}
.beCommentNewHeader {
	font-size: 1.2em;
	font-weight: bold;
	color: #083046;
}
.beCommentNewHeader .cancelReply {
	display: inline-block;
	height: 20px;
	margin: 0 0 0 20px;
	padding-left: 25px;
	font-size: 17px;
	line-height: 19px;
	font-weight: normal;
	color: #afafaf;
	background: url('../images/commentReply.png') top left no-repeat;
	background-position: 0 -40px;
}
.beCommentNewHeader .cancelReply:hover {
	color: #666666;
	cursor: pointer;
	background-position: 0 -60px;
}
.beCommentNew form .antSp {
	display: none;
}
.beCommentNew form label {
	display: inline-block;
	margin-top: 10px;
}
.beCommentNew form input[type=text] {
	height: 25px;
	margin-top: 10px;
	padding: 0 10px;
	border: 1px solid #b0b0b0;
	background: #fafafa;
}
.beCommentNew form textarea {
	height: 180px;
	margin-top: 10px;
	padding: 10px;
	vertical-align: top;
	border: 1px solid #b0b0b0;
	background: #fafafa;
}
.beCommentNew form input.button {
	width: 130px;
	height: 30px;
	border: 0;
}
.beCommentNew form input[type=submit] {
	margin: 10px 0 0 94px;
	padding: 0 10px;
	font-weight: bold;
	background: #1686c6;
	color: #ffffff;
}
.beCommentNew form input[type=reset] {
	padding: 0 10px;
	background: #cccccc;
	color: #666666;
}
.beCommentNew form input[type=submit]:not([disabled=disabled]):hover {
	background: #083046;
	cursor: pointer;
}
.beCommentNew form input[type=reset]:hover {
	background: #999999;
	color: #ffffff;
	cursor: pointer;
}
.beCommentNewInfo {
	margin: 10px 0 0 0;
	padding: 0 0 0 92px;
}
.beCommentNewInfo,
.beCommentNewTime,
.beCommentNewDisclaimer {
	margin: 10px 0 0 0;
}

/*** PAGER ***/

#beMainContent #pager{
    width: 100%;
    margin: 10px 0 0 0;
} 
#beMainContent .hasJs#pager{
    width: 237px;
    margin: 10px auto 0 auto;
} 
#beMainContent #pager a{
    width: 25px;
    float: left;
}
#beMainContent #pager .pArrows {
    display: none;
    background: url('../images/sprite.png') no-repeat;
}
#beMainContent #pager .pArrows#pagerleft {
    background-position: -470px -75px;
}
#beMainContent #pager .pArrows#pagerright {
    background-position: -470px -100px;
}
#beMainContent #pager a.hasJs {
    display: block;
    visibility: hidden;
}
#beMainContent #pager #number {
}
#beMainContent #pager .hasJs#number {
    width:187px;
    float: left;
}
#beMainContent #pager #number #pnr {
    font-size: 1.2em;
    margin: 0 auto;
    padding: 0;
}
#beMainContent #pager #number .hasJs#pnr {
    display: block;
}
#beMainContent #pager #number #pnr li {
    display: inline;
    width: 25px;
    text-align: center;
}
#beMainContent #pager #number #pnr li a {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #aaaaaa;
	color: #1d3747;
}
#beMainContent #pager #number #pnr li a:hover {
	color: #1686c6;
}
#beMainContent #pager #number #pnr li.themecolor a {
    font-weight: bold;
	color: #1686c6;
}

/*** SEARCH ***/

.searchEntry {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #bfbfbf;
}
.searchEntry header {
	margin: 0;
	padding: 2px 10px 0 10px;
	border-bottom: 1px solid #bfbfbf;
	background: #e4e4e4;
}
.searchEntry header a {
	color: #083047;
}
.searchEntry header a:hover {
	color: #1686c6;
}
.searchEntry header .title {
	font-size: 1.1em;
	font-weight: bold;
}
.searchEntry p {
	margin: 0 !important;
	padding: 2px 10px 5px 10px;
}

/*** GALLERY ***/

.beContentEntryGallery {
	margin: 0 auto;
}
.beContentEntryGalleryImageList {
	display: block;
	margin: 0 auto !important;
	padding: 0 !important;
}
.beContentEntryGalleryImageList li {
	width: 150px;
	height: 100px;
	margin: 0 10px 20px 10px;
}
.beContentEntryGalleryImageList li img {
	max-width: 150px;
	max-height: 100px;
}
.beContentEntryGalleryBigImage {
	display: none;
	margin: 0 auto 10px auto;
	text-align: center;
}
.beContentEntryGalleryBigImage img {
	display: none;
}
#galL,
#galR {
	display: none;
    float: left;
    text-align: center;
    background: url('../images/sprite.png') no-repeat;
    height: 105px;
}
#galL {
	background-position: -600px -25px;
}
#galL:hover {
	background-position: -600px -130px;
}
#galR {
	background-position: -625px -25px;
}
#galR:hover {
	background-position: -625px -130px;
}

.beLightbox {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 2000;
	background: rgba(120,120,120,0.7);
}
.beLightboxWrapper {
	width: 90%;
	height: 90%;
	margin: 2.5% auto;
	box-shadow: 0 0 10px #555555;
	background: #ebebeb;
}
.beLightboxImage {
	margin: 0 auto;
}
.beLightboxImage img {
	display: block;
}
.beLightboxText {
	padding: 0 10px;
	height: 30px;
	border-top: 1px solid #bfbfbf;
}
.beLightboxDescription {
	float: left;
}
.beLightboxClose {
	float: right;
	cursor: pointer;
}

/*** PORTFOLIO ***/

.bePortfolioHeader {
	margin: 15px 0 0 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #1686c6;
	color: #1d3747;
}
.bePortfolioSubHeader {
	clear: both;
	padding: 15px 0 0 0;
	color: #1d3747;
}
.bePortfolioEntry {
	display: block;
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px;
	padding: 10px;
	line-height: 200px;
	background: #dfdfdf;
	box-shadow: 0 0 5px #aaaaaa;
	text-align: center;
}
.bePortfolioEntry:hover {
	box-shadow: 0 0 5px #1086c6;
}
.bePortfolioEntry img {
	max-width: 200px;
	max-height: 200px;
	vertical-align: middle;
}

/*** TEXT ***/

.beContentEntry h2,
.beContentEntry h3 {
	margin: 15px 0 0 0;
	color: #1d3747;
}
.beContentEntry p {
	margin: 0 0 15px 0;
}
.beContentEntry b {
	font-weight: bold;
}
.beContentEntry i {
	font-style: italic;
}
.beContentEntry u {
	text-decoration: underline;
}
.beContentEntry del {
	text-decoration: line-through;
}
.beContentEntry ins {
	text-decoration: none;
	font-style: italic;
}
.beContentEntry cite:before,
.beContentEntry cite:after {
	content: "\"";
}
.beContentEntry blockquote {
	margin: 0 0 15px 0;
	padding: 10px;
	border:  1px solid #d4d4d4;
	border-left:  3px solid #55a3cf;
	background: #e4e4e4;
}
.beContentEntry blockquote span {
	font-size: 0.85em;
	color: #4f4f4f;
}
.beContentEntry ul,
.beContentEntry ol {
	margin: 0 0 15px 20px;
	padding: 0 0 0 20px;
}
.beContentEntry ul li ul,
.beContentEntry ol li ol {
	margin: 0;
}
.beContentEntry ol {
	list-style-type: decimal;
}
.beContentEntry ol li ol {
	list-style-type: lower-alpha;
}
.beContentEntry ol li ol li ol {
	list-style-type: lower-roman;
}
.beContentEntry .code {
	margin-top: 15px;
	border: 1px solid #aaaaaa;
}
.beContentEntry .code .line {
	display: block;
	padding: 0 10px 0 0;
	font-size: 0.85em;
	line-height: 1.5em;
	font-family: "Source Code Pro";
	color: #1a1a1a;
	background: #e4e4e4;
	transition: 0.15s all;
}
.beContentEntry .code .line:hover {
	background: #f0f0f0;
	cursor: default;
}
.beContentEntry .code .line .no {
	display: inline-block;
	margin-right: 10px;
	padding-right: 5px;
	width: 30px;
	border-right: 1px solid #cccccc;
	background: #d4d4d4;
	text-align: right;
	opacity: 0.7;
}
.beContentEntry .code .line:hover .no {
	background: #e4e4e4;
}
.beContentEntry pre {
	padding: 10px;
	font-size: 0.9em;
	line-height: 125%;
	font-family: "Source Code Pro";
	background: #dadada;
}
.beContentEntry .embeddedVideo.video {
	display: block;
	margin: 0 auto 15px auto;
}
.beContentEntry .embeddedVideo.link {
	display: none;
}

/*** BACKEND ***/

.backendLinkList {
	list-style-type: none;
}
.backendTable {
	width: 100%;
	margin: 10px 0 0 0;
	border-collapse: collapse;
}
.backendTable.noWidth {
	width: auto;
}
.backendTableHeadRow {
	background: #d0d0d0;
	border-bottom: 1px solid #000000;
}
.backendTableRow0 {
	background: #efefef;
}
.backendTableRow1 {
	background: #e0e0e0;
}
.backendTable tr td,
.backendTable tr th {
	padding: 1px 5px;
	vertical-align: top;
}
.backendTable tr td.tabZahl {
	text-align: center;
}
.backendTable tr td.fullDate {
	width: 130px;
}
.backendTable tr td.w30 {
	width: 30px;
}
.backendTable tr td.w50 {
	width: 50px;
}
.backendTable.cmtEnable tr td div.close {
	height: 50px;
	overflow-y: hidden;
}
.backendBackLink {
	margin: 20px 0 10px 10px !important;
	font-size: 20px;
}

fieldset.backend {
	margin: 10px;
	padding: 20px;
	border: 1px solid #cfcfcf;
}
fieldset.backend legend {
	margin: 0 10px;
	padding: 0 10px;
	font-weight: bold;
	color: #083047;
}
fieldset.backend label,
fieldset.backend input,
fieldset.backend button,
fieldset.backend select {
	display: inline-block;
	height: 25px;
    font-size: inherit;
    padding: 0.2em !important;
	margin:	5px 0 0 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
fieldset.backend input[type="checkbox"] {
	height: auto;
}
fieldset.backend input[type="text"],
fieldset.backend input[type="password"] {
	border: 1px solid #dfdfdf;
}
fieldset.backend input[type="submit"],
fieldset.backend.newEntry input[type=button] {
	border: 0;
	font-size: 17px;
}
fieldset.backend input[type="submit"] {
	background: #1686c6;
	color: #ffffff;
}
fieldset.backend input[type=submit]:hover {
	background: #083046;
	cursor: pointer;
}
fieldset.backend.newEntry input[type=submit] {
	margin: 5px 0 0 0 !important;
}
fieldset.backend.newEntry input[type=button] {
	border: 1px solid #bfbfbf;
	background: #e0e0e0;
}
fieldset.backend.newEntry input[type=button]:hover {
	background: #dadada;
}
fieldset.backend.newEntry input[role="newEntryTitle"],
fieldset.backend.newEntry input[role="newEntryTags"] {
	width: 100%;
}
fieldset.backend.newEntry label.description {
	width: 94px;
}
fieldset.backend.newEntry select.drop200 {
	width: 194px;
}
fieldset.backend .bbDiv{
    width: 698px;
    height: 25px;
    background: #efefef url('../images/sprite.png') no-repeat 0px 0px;
    border: 1px solid #aaaaaa;
    border-top-color: #dfdfdf;
    border-bottom: 0;
}
fieldset.backend .bbSpan{
    display: block;
    margin-left: 2px;
    float: left;
}
fieldset.backend .bbSpanFirst {
    margin-left: 7px;
}
fieldset.backend .bbImg {
    width: 25px;
    height: 25px;
    padding: 0 !important;
    margin: 0;
    box-shadow: 0 0 0;
    border: 0;
    float: left;
    background: url('../images/sprite.png') no-repeat;
}
fieldset.backend .bbImg:hover {
    cursor: pointer;
}
fieldset.backend .bbImg#btnbold {
	background-position: -0px -25px;
}
fieldset.backend .bbImg#btnbold:hover {
	background-position: -0px -50px;
}
fieldset.backend .bbImg#btnitalic {
	background-position: -25px -25px;
}
fieldset.backend .bbImg#btnitalic:hover {
	background-position: -25px -50px;
}
fieldset.backend .bbImg#btnunderline {
	background-position: -50px -25px;
}
fieldset.backend .bbImg#btnunderline:hover {
	background-position: -50px -50px;
}
fieldset.backend .bbImg#btnmark {
	background-position: -75px -25px;
}
fieldset.backend .bbImg#btnmark:hover {
	background-position: -75px -50px;
}
fieldset.backend .bbImg#btndel {
	background-position: -100px -25px;
}
fieldset.backend .bbImg#btndel:hover {
	background-position: -100px -50px;
}
fieldset.backend .bbImg#btnins {
	background-position: -125px -25px;
}
fieldset.backend .bbImg#btnins:hover {
	background-position: -125px -50px;
}
fieldset.backend .bbImg#btnquote {
	background-position: -200px -25px;
}
fieldset.backend .bbImg#btnquote:hover {
	background-position: -200px -50px;
}
fieldset.backend .bbImg#btncite {
	background-position: -225px -25px;
}
fieldset.backend .bbImg#btncite:hover {
	background-position: -225px -50px;
}
fieldset.backend .bbImg#btnbquote {
	background-position: -250px -25px;
}
fieldset.backend .bbImg#btnbqoute:hover {
	background-position: -250px -50px;
}
fieldset.backend .bbImg#btnol {
	background-position: -275px -25px;
}
fieldset.backend .bbImg#btnol:hover {
	background-position: -275px -50px;
}
fieldset.backend .bbImg#btnul {
	background-position: -300px -25px;
}
fieldset.backend .bbImg#btnul:hover {
	background-position: -300px -50px;
}
fieldset.backend .bbImg#btnli {
	background-position: -325px -25px;
}
fieldset.backend .bbImg#btnli:hover {
	background-position: -325px -50px;
}
fieldset.backend .bbImg#btncode {
	background-position: -350px -25px;
}
fieldset.backend .bbImg#btncode:hover {
	background-position: -350px -50px;
}
fieldset.backend .bbImg#btnpar {
	background-position: -375px -25px;
}
fieldset.backend .bbImg#btnpar:hover {
	background-position: -375px -50px;
}
fieldset.backend .bbImg#btnlink {
	background-position: -400px -25px;
}
fieldset.backend .bbImg#btnlink:hover {
	background-position: -400px -50px;
}
fieldset.backend .bbImg#btnyt {
	background-position: -425px -25px;
}
fieldset.backend .bbImg#btnyt:hover {
	background-position: -425px -50px;
}
fieldset.backend .bbImg#btnplay {
	background-position: -450px -25px;
}
fieldset.backend .bbImg#btnplay:hover {
	background-position: -450px -50px;
}
fieldset.backend .bbImg#btnamazon {
	background-position: -475px -25px;
}
fieldset.backend .bbImg#btnamazon:hover {
	background-position: -475px -50px;
}
fieldset.backend .bbImg#smsmile {
	background-position: -500px -25px;
}
fieldset.backend .bbImg#smsmile:hover {
	background-position: -500px -50px;
}
fieldset.backend .bbImg#smlaugh {
	background-position: -525px -25px;
}
fieldset.backend .bbImg#smlaugh:hover {
	background-position: -525px -50px;
}
fieldset.backend .bbImg#smsad {
	background-position: -550px -25px;
}
fieldset.backend .bbImg#smsad:hover {
	background-position: -550px -50px;
}
fieldset.backend .bbImg#smone {
	background-position: -575px -25px;
}
fieldset.backend .bbImg#smone:hover {
	background-position: -575px -50px;
}
fieldset.backend .bbImg#btnuber2 {
	background-position: -150px -25px;
}
fieldset.backend .bbImg#btnuber2:hover {
	background-position: -150px -50px;
}
fieldset.backend .bbImg#btnuber3 {
	background-position: -175px -25px;
}
fieldset.backend .bbImg#btnuber3:hover {
	background-position: -175px -50px;
}
fieldset.backend p {
    margin: 0 !important;
}
fieldset.backend .newsNeuHelpPort {
    display: none;
    font-family: Consolas;
}
fieldset.backend textarea[role="newEntryContent"] {
	width: 698px;
	border: 1px solid #bbbbbb;
	border-top: 0;
	background: #eaeaea;
}
fieldset.backend img.adThumb {
    max-width: 99px;
    max-height: 66px;
    margin: 5px 0 0 0;
    box-shadow: #606060 0 0 5px;}
fieldset.backend div.adImg {
    width: 450px;
    height: 300px;
    float: left;}
fieldset.backend div.adImg img {
    max-width: 450px;
    max-height: 300px;}
fieldset.backend tbody.adThumb tr td {
    text-align: center;}

/*** RESPONSIVE ***/

@media (max-height: 719px) {
	div#beMainContainer{
		margin-top: 20px; 
	}
}

@media (min-height: 720px) and (min-width: 630px) {
	header#beMainHeader {
		position: fixed;
		z-index: 1000;
		top: 0;
	}
	div#beMainContainer{
		margin-top: 120px; 
	}
	h1[id]:target:before,
	h2[id]:target:before,
	h3[id]:target:before,
	h4[id]:target:before,
	h5[id]:target:before,
	h6[id]:target:before {
    display:block; 
    content:""; 
    height:120px; 
    margin:-120px 0 0; 
	}
}

@media (min-width: 260px) {
	div#beMainPortfolio {
		width: 240px;
		margin: 0 auto;
	}
	#galL,
	#galR {
	    width: 20px;
	}
}

@media (min-width: 330px) {
	footer#beMainFooter {
		height: 42px;
	}
	aside#beMainAside.singleArticle .beMainAsideEntry.searchBox form,
	aside#beMainAside.portfolio .beMainAsideEntry.searchBox form,
	aside#beMainAside.multipleArticles .beMainAsideEntry.searchBox form {
		width: 260px;
	}
	aside#beMainAside.singleArticle .beMainAsideEntry.searchBox form input[type=text],
	aside#beMainAside.portfolio .beMainAsideEntry.searchBox form input[type=text],
	aside#beMainAside.multipleArticles .beMainAsideEntry.searchBox form input[type=text] {
		width: 208px;
	}
}

@media (max-width: 339px) {
	.beCommentEntry .beCommentEntryAvatar {
		display: none !important;
	}
	.beCommentEntry .beCommentEntryContent {
		margin-left: 0px;
	}
}

@media (min-width: 340px) {
	.beCommentEntry .beCommentEntryAvatar {
		display: block;
	}
	.beCommentEntry .beCommentEntryContent {
		margin-left: 90px;
	}
}

@media (max-width: 399px) {
	div.beContentEntryGallery {
		text-align: center;
	}
	ul.beContentEntryGalleryImageList li {
		display: inline-block;
	}
	ul.beContentEntryGalleryImageList li.hasjs {
		display: none;
	}
	div#beMainContainer.singleArticle div#beMainContent article.beContentEntry .embeddedVideo.video {
		display: none !important;
	}
	div#beMainContainer.singleArticle div#beMainContent article.beContentEntry .embeddedVideo.link {
		display: block !important;
	}
}

@media (min-width: 400px) {
	div#beMainContainer.singleArticle div#beMainContent article.beContentEntry .embeddedVideo.video {
		display: block !important;
	}
	div#beMainContainer.singleArticle div#beMainContent article.beContentEntry .embeddedVideo.link {
		display: none !important;
	}
	div.beContentEntryGallery {
		width: 340px;
		text-align: left;
	}
	ul.beContentEntryGalleryImageList {
		width: 340px;
	}
	ul.beContentEntryGalleryImageList li {
		display: block;
		float: left;
	}
	ul.beContentEntryGalleryImageList li.hasjs {
		display: none;
	}
	div.beContentEntryGalleryBigImage,
	div.beContentEntryGalleryBigImage img {
		max-width: 340px;
		max-height: 227px;
	}
}

@media (max-width: 499px) {
	header#beMainHeader h1.pageTitle,
	header#beMainHeader span.pageTitle {
		font-size: 25px;
	}
	header#beMainHeader h1.pageTitle span,
	header#beMainHeader span.pageTitle span {
		font-size: 18px;
	}
}

@media (min-width: 500px) {
	header#beMainHeader h1.pageTitle,
	header#beMainHeader span.pageTitle {
		font-size: 30px;
	}
	header#beMainHeader h1.pageTitle span,
	header#beMainHeader span.pageTitle span {
		font-size: 20px;
	}
	menu#beMainNav li {
		padding: 3px 5px;
		display: inline-block;
	}
	menu#beMainNav li a {
		font-size: 20px;
	}
	div#beMainPortfolio {
		width: 480px;
		margin: 0 auto;
	}
}

@media (min-width: 570px) {
	header#beMainHeader h1.pageTitle,
	header#beMainHeader span.pageTitle {
		font-size: 35px;
	}
	header#beMainHeader h1.pageTitle span,
	header#beMainHeader span.pageTitle span {
		font-size: 25px;
	}
	menu#beMainNav li {
		padding: 3px 10px;
	}
	div.beContentEntryGallery {
		width: 510px;
	}
	ul.beContentEntryGalleryImageList {
		width: 510px;
	}
	div.beContentEntryGalleryBigImage,
	div.beContentEntryGalleryBigImage img {
		max-width: 469px;
		max-height: 313px;
	}
}

@media (max-width: 629px) {
	div#beMainContainer {
		padding: 0 20px;
	}
	.beContentEntryImage img {
		width: 100%;
	}
	div#beMainContainer.multipleArticles div#beMainContent article.beContentEntry .beContentEntryFooter {
		width: inherit;
	}
	div#beMainContainer.singleArticle div#beMainContent article.beContentEntry .embeddedVideo.video {
		width: inherit;
		height: inherit;
	}
	div#beMainContainer.singleArticle div#beMainContent article.beContentEntry pre {
		white-space: pre-wrap;       /* css-3 */
	   	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	   	white-space: -pre-wrap;       /* Opera 4-6 */
	   	white-space: -o-pre-wrap;       /* Opera 7 */
	   	word-wrap: break-word;
	}
	div#beContentEntryComments div.beCommentEntry span.beCommentEntryAvatar,
	div#beContentEntryComments div.beCommentEntry span.beCommentEntryAvatar img {
		width: 69px;
		height: 69px;
	}
	.beMainAsideEntry ul.socialInteraction li,
	.beMainAsideEntry ul.socialInteraction li a {
		width: 60px;
		height: 60px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkYoutube {
		background-position: -180px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkYoutube:hover {
		background-position: -180px -135px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkFacebook {
		background-position: 0px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkFacebook:hover {
		background-position: 0px -135px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkTwitter {
		background-position: -120px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkTwitter:hover {
		background-position: -120px -135px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkGoogle {
		background-position: -60px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkGoogle:hover {
		background-position: -60px -135px;
	}
	.beCommentNew form label {
		width: 90px;
	}
	.beCommentNew form input[type=text] {
		width: 90%;
	}
	.beCommentNew form textarea {
		width: 90%;
	}
	.beCommentNew form input[type=submit] {
		margin: 10px auto 0 auto;
	}
	fieldset.backend.login input[type="submit"] {
		margin:	5px 0 0 0;
	}
}

@media (min-width: 630px) {
	header#beMainHeader {
		height: 103px;
	}

	header#beMainHeader h1.pageTitle,
	header#beMainHeader span.pageTitle {
		font-size: 40px;
	}
	header#beMainHeader h1.pageTitle span,
	header#beMainHeader span.pageTitle span {
		font-size: 30px;
	}
	menu#beMainNav li a {
		font-size: 22px;
	}
	.beCategoryNav li {
		display: inline;
		border-left: 1px solid #bfbfbf;
	}
	.beContentEntryRow {
		display: table;
		border-collapse: separate;
		border-spacing: 20px 10px;
	}

	.beContentEntryRow .beContentEntry {
		display: table-cell;
		float: none;
		height: 100%;
	}
	div#beMainContainer.singleArticle {
		width: 600px;
	}
	div#beMainContainer.singleArticle div#beMainContent {
		float: left;
		width: 360px;
		margin: 0;
	}
	div#beMainContainer.singleArticle div#beMainContent .beContentEntry {
		width: 320px;
		margin: 10px auto;
	}
	.beContentEntryImage img {
		max-width: 300px;
		max-height: 200px;
	}
	div#beMainContainer.singleArticle div#beMainContent article.beContentEntry .embeddedVideo.video {
		width: 336px;
		height: 189px;
	}
	.beContentConnectedEntry {
		float: left;
		width: 340px;
		height: 130px;
	}
	div.beContentEntryGallery {
		width: 340px;
	}
	ul.beContentEntryGalleryImageList {
		width: 340px;
	}
	div.beContentEntryGalleryBigImage,
	div.beContentEntryGalleryBigImage img {
		max-width: 321px;
		max-height: 214px;
	}
	div#beContentEntryComments div.beCommentEntry span.beCommentEntryAvatar,
	div#beContentEntryComments div.beCommentEntry span.beCommentEntryAvatar img {
		width: 69px;
		height: 69px;
	}
	div#beContentEntryComments div.beCommentEntry .beCommentEntryContent {
		margin-left: 90px;
	}
	aside#beMainAside.singleArticle {
		float: left;
		margin: 10px 0 0 20px;
		width: 218px;
	}
	aside#beMainAside.singleArticle .beMainAsideEntry.searchBox form {
		width: 170px;
	}
	aside#beMainAside.singleArticle .beMainAsideEntry.searchBox form input[type=text] {
		width: 118px;
	}
	aside#beMainAside.portfolio .beMainAsideEntry.searchBox form,
	aside#beMainAside.multipleArticles .beMainAsideEntry.searchBox form {
		width: 260px;
	}
	aside#beMainAside.portfolio .beMainAsideEntry.searchBox form input[type=text],
	aside#beMainAside.multipleArticles .beMainAsideEntry.searchBox form input[type=text] {
		width: 208px;
	}
	.beMainAsideEntry ul.socialInteraction {
		height: 50px;
	}
	.beMainAsideEntry ul.socialInteraction li,
	.beMainAsideEntry ul.socialInteraction li a {
		width: 50px;
		height: 50px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkYoutube {
		background-position: -390px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkYoutube:hover {
		background-position: -390px -125px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkFacebook {
		background-position: -240px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkFacebook:hover {
		background-position: -240px -125px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkTwitter {
		background-position: -340px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkTwitter:hover {
		background-position: -340px -125px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkGoogle {
		background-position: -290px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkGoogle:hover {
		background-position: -290px -125px;
	}
	.beCommentNew form label {
		width: 100px;
	}
	.beCommentNew form input[type=text] {
		width: 310px;
	}
	.beCommentNew form textarea {
		width: 310px;
	}
	.beCommentNew form input[type=submit] {
		margin: 10px 0 0 94px;
	}
}

@media (max-width: 739px) {
	div#beMainContainer.multipleArticles {
		padding: 0 20px;
	}
	div#beMainContainer.multipleArticles div#beMainContent article.beContentEntry .beContentEntryFooter {
		width: 90%;
		margin: 0 auto;
	}
	fieldset.backend.login label {
		display: block;
	}
	fieldset.backend.login label,
	fieldset.backend.login input[type="text"],
	fieldset.backend.login input[type="password"],
	fieldset.backend.login input[type="submit"] {
		width: 95%;
	}
	fieldset.backend.login input[type="submit"] {
		display: block;
		margin:	5px auto 0 auto;
	}
}

@media (min-width: 740px) {
	div#beMainPortfolio {
		width: 720px;
		margin: 0 auto;
	}

	div#beMainContainer.multipleArticles {
		width: 720px;
	}
	div#beMainContainer.multipleArticles div#beMainContent {
		width: 700px;
		margin: 0;
	}
	div#beMainContainer.multipleArticles div#beMainContent article.beContentEntry {
		width: 288px;
		margin: 10px;
	}
	.beContentEntryFooter span {
		display: block;
		width: 100%;
		border: 0;
	}
	div#beMainContainer.singleArticle {
		width: 720px;
	}
	div#beMainContainer.singleArticle div#beMainContent {
		width: 480px;
	}
	div#beMainContainer.singleArticle div#beMainContent .beContentEntry {
		width: 440px;
	}
	.beContentEntryImage img {
		max-width: 420px;
		max-height: 280px;
	}
	div#beMainContainer.singleArticle div#beMainContent article.beContentEntry .embeddedVideo.video {
		width: 448px;
		height: 252px;
	}
	.beContentConnected {
		width: 482px;
	}
	.beContentConnectedEntry {
		width: 460px;
	}
	div.beContentEntryGallery {
		width: 450px;
	}
	ul.beContentEntryGalleryImageList {
		width: 340px;
	}
	div.beContentEntryGalleryBigImage,
	div.beContentEntryGalleryBigImage img {
		max-width: 340px;
		max-height: 227px;
	}
	aside#beMainAside.portfolio,
	aside#beMainAside.multipleArticles {
		float: none;
		width: 328px;
	}
	h1.beCategoryHeader {
		width: 100%;
		margin: 0;
	}
	.beCommentNew form input[type=text] {
		width: 230px;
	}
	.beCommentNew form textarea {
		width: 340px;
	}
	fieldset.backend.login label {
		display: inline-block;
		width: 100px;
	}
	fieldset.backend.login input[type="text"],
	fieldset.backend.login input[type="password"] {
		width: 300px;
	}
	fieldset.backend.login input[type="submit"] {
		width: 130px;
		margin:	5px 0 0 110px;
	}
}
@media (max-width: 979px) {
	#galL,
	#galR {
	    display: none !important;
	}
	div#beContentEntryComments div.beCommentEntry .reply {
		display: block;
		margin-top: 10px;
	}
}
@media (min-width: 980px) {
	div#beMainContainer.multipleArticles {
		width: 960px;
	}
	div#beMainContainer.multipleArticles div#beMainContent {
		width: 960px;
		margin: 0;
	}
	div#beMainContainer.multipleArticles div#beMainContent article.beContentEntry {
		width: 418px;
	}
	div#beMainContainer.singleArticle {
		width: 960px;
	}
	div#beMainContainer.singleArticle div#beMainContent {
		width: 720px;
	}
	div#beMainContainer.singleArticle div#beMainContent .beContentEntry {
		width: 680px;
	}
	.beContentEntryFooter span {
		display: block;
		width: auto;
	}
	.beContentEntry .beContentEntryFooter span.categoryLink {
		float: left;
		margin: 0 5px 0 0;
		padding: 0 5px 0 0;
		border-right: 1px solid #cfcfcf;
	}
	.beContentEntry .beContentEntryFooter span.authorLink {
		float: left;
	}
	.beContentEntry .beContentEntryFooter span.commentsLink {
		float: right;
		margin: 0 0 0 10px;
	}
	.beContentEntryImage img {
		max-width: 600px;
		max-height: 400px;
	}
	.beContentEntryGalleryBigImage {
		float: left;
	}
	#galL,
	#galR {
	    width: 30px;
	}
	div#beMainContainer.singleArticle div#beMainContent article.beContentEntry .embeddedVideo.video {
		width: 560px;
		height: 315px;
	}
	.beContentConnected {
		width: 722px;
	}
	.beContentConnectedEntry {
		width: 329px;
		height: 150px;
	}
	.beContentConnectedEntry.odd {
		margin-right: 10px;
	}
	.beContentConnectedEntry.even {
		margin-left: 10px;
	}
	div.beContentEntryGallery {
		width: 690px;
	}
	ul.beContentEntryGalleryImageList {
		width: 680px;
	}
	div.beContentEntryGalleryBigImage,
	div.beContentEntryGalleryBigImage img {
		max-width: 630px;
		max-height: 420px;
	}
	div#beContentEntryComments div.beCommentEntry span.beCommentEntryAvatar,
	div#beContentEntryComments div.beCommentEntry span.beCommentEntryAvatar img {
		width: 89px;
		height: 89px;
	}
	div#beContentEntryComments div.beCommentEntry .beCommentEntryContent {
		margin-left: 110px;
	}
	div#beContentEntryComments div.beCommentEntry .reply {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	aside#beMainAside.singleArticle {
		float: left;
		margin: 10px 0 0 20px;
		width: 218px;
	}
	aside#beMainAside.multipleArticles {
		width: 468px;
	}
	aside#beMainAside.portfolio {
		float: left;
		margin: 10px 0 0 20px;
		width: 218px;
	}
	aside#beMainAside.portfolio .beMainAsideEntry.searchBox form {
		width: 170px;
	}
	aside#beMainAside.portfolio .beMainAsideEntry.searchBox form input[type=text] {
		width: 118px;
	}
	div#beMainPortfolio {
		float: left;
		width: 720px;
		margin: 0;
	}
	.beCommentNew form textarea {
		width: 430px;
	}
}

@media (min-width: 1300px) {
	div#beMainPortfolio {
		width: 960px;
	}
	aside#beMainAside.multipleArticles {
		float: left;
		margin: 10px 0 0 10px;
		width: 238px;
	}
	aside#beMainAside.multipleArticles .beMainAsideEntry.searchBox form {
		width: 190px;
	}
	aside#beMainAside.multipleArticles .beMainAsideEntry.searchBox form input[type=text] {
		width: 138px;
	}
	aside#beMainAside.singleArticle {
		width: 288px;
	}
	aside#beMainAside.singleArticle .beMainAsideEntry.searchBox form {
		width: 210px;
	}
	aside#beMainAside.singleArticle .beMainAsideEntry.searchBox form input[type=text] {
		width: 158px;
	}
	aside#beMainAside.portfolio {
		margin: 10px 0 0 30px;
		width: 278px;
	}
	aside#beMainAside.portfolio .beMainAsideEntry.searchBox form {
		width: 230px;
	}
	aside#beMainAside.portfolio .beMainAsideEntry.searchBox form input[type=text] {
		width: 178px;
	}
}
@media (min-width: 1300px) {
	div#beMainContainer.multipleArticles {
		width: 1280px;
	}
	div#beMainContainer.multipleArticles div#beMainContent {
		float: left;
		width: 1020px;
	}
	div#beMainContainer.multipleArticles div#beMainContent article.beContentEntry {
		width: 448px;
	}
	div#beMainContainer.singleArticle {
		width: 1280px;
	}
	div#beMainContainer.singleArticle div#beMainContent {
		width: 970px;
	}
	div#beMainContainer.singleArticle div#beMainContent .beContentEntry {
		width: 930px;
	}
	.beContentEntryImage img {
		max-width: 750px;
		max-height: 500px;
	}
	.beContentConnected {
		width: 972px;
	}
	.beContentConnectedEntry {
		width: 454px;
		height: 130px;
	}
	div.beContentEntryGallery {
		width: 900px;
	}
	ul.beContentEntryGalleryImageList {
		width: 850px;
	}
	div.beContentEntryGalleryBigImage,
	div.beContentEntryGalleryBigImage img {
		max-width: 830px;
		max-height: 554px;
	}
	div#beContentEntryComments div.beCommentEntry span.beCommentEntryAvatar,
	div#beContentEntryComments div.beCommentEntry span.beCommentEntryAvatar img { {
		width: 99px;
		height: 99px;
	}
	div#beContentEntryComments div.beCommentEntry .beCommentEntryContent {
		margin-left: 120px;
	}
	.beMainAsideEntry ul.socialInteraction {
		height: 55px;
	}
	.beMainAsideEntry ul.socialInteraction li,
	.beMainAsideEntry ul.socialInteraction li a {
		width: 55px;
		height: 55px;
		background-size: 55px !important;
	}
}

@media (min-width: 1620px) {
	div#beMainContainer.multipleArticles {
		width: 1600px;
	}
	div#beMainContainer.multipleArticles div#beMainContent {
		width: 1320px;
	}
	div#beMainContainer.multipleArticles div#beMainContent article.beContentEntry {
		width: 598px;
	}
	div#beMainContainer.singleArticle {
		width: 1350px;
	}
	div#beMainContainer.singleArticle div#beMainContent {
		width: 970px;
	}
	div#beMainContainer.singleArticle div#beMainContent .beContentEntry {
		width: 930px;
	}
	aside#beMainAside.singleArticle,
	aside#beMainAside.portfolio {
		width: 348px;
	}
	aside#beMainAside.multipleArticles {
		width: 258px;
	}
	.beMainAsideEntry ul.socialInteraction {
		height: 60px;
	}
	.beMainAsideEntry ul.socialInteraction li,
	.beMainAsideEntry ul.socialInteraction li a {
		width: 60px;
		height: 60px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkYoutube {
		background-position: -180px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkYoutube:hover {
		background-position: -180px -135px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkFacebook {
		background-position: 0px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkFacebook:hover {
		background-position: 0px -135px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkTwitter {
		background-position: -120px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkTwitter:hover {
		background-position: -120px -135px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkGoogle {
		background-position: -60px -75px;
	}
	.beMainAsideEntry .socialInteraction li a.socialLinkGoogle:hover {
		background-position: -60px -135px;
	}
	aside#beMainAside.singleArticle .beMainAsideEntry.searchBox form,
	aside#beMainAside.portfolio .beMainAsideEntry.searchBox form {
		width: 260px;
	}
	aside#beMainAside.singleArticle .beMainAsideEntry.searchBox form input[type=text],
	aside#beMainAside.portfolio .beMainAsideEntry.searchBox form input[type=text] {
		width: 208px;
	}
	aside#beMainAside.multipleArticles .beMainAsideEntry.searchBox form {
		width: 220px;
	}
	aside#beMainAside.multipleArticles .beMainAsideEntry.searchBox form input[type=text] {
		width: 168px;
	}
	div#beMainPortfolio {
		width: 1200px;
	}
}

@media (min-width: 1920px) {
	div#beMainContainer.multipleArticles {
		width: 1830px;
	}
	div#beMainContainer.multipleArticles div#beMainContent {
		width: 1470px;
	}
	div#beMainContainer.multipleArticles div#beMainContent article.beContentEntry {
		width: 673px;
		height: 380px;
	}
	aside#beMainAside.multipleArticles {
		width: 328px;
	}
	div#beMainPortfolio {
		width: 1440px;
	}
}